h1, h2 {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background: ivory;
}

img {
  float: left;
  margin-right: 10px;
}

li {
  display: inline;
  margin: 40px;
}

.column {
  columns: 3;
  column-width: 300px;
}